<form action="/updateProfile" method="post" >
    <input type="text" name="firstName" placeholder="Firstname" required>
    <br>
    <input type="text" name="lastName" placeholder="Lastname" required>
    <br>
    <input type="password" name="userPassword" placeholder="Password" required>
    <br>
    <input type="number" name="userPhoneNumber" placeholder="Phone Number" required>
    <br>
    <input type="email" name="userEmail" placeholder="Email Address" required>
    <br>
    <input type="date" name="userDob" placeholder="Date Of Birth" required>
    <br>
    <input type="submit" value="update">
</form>